/*===============================
 time:
================================================================================*/
#news-wall-134 .news-wall-filters
ul{text-align:left}#news-wall-134 .wall-item{width:33.333333333333%}#news-wall-134 .wall-item .wall-bottom .item-content:before{border-bottom-color:#555}#news-wall-134 .wall-item{padding:10px}#news-wall-134 .wall-item .wall-bottom{background-color:#555}@media(max-width: 768px){#news-wall-134 .wall-item{width:50%}}@media(max-width: 480px){#news-wall-134 .wall-item{width:100%}}.news-wall-loadmore{visibility:hidden}.item-content{border-left:1px solid #777;border-right:1px solid #777;border-bottom:1px solid #777}.wall-item .wall-bottom .item-content
.catItemTitle{line-height:36px!important;font-size:30px!important;text-transform:none!important;font-weight:normal}@media (max-width: 991px){.wall-item .wall-bottom .item-content
.catItemTitle{line-height:34.2857143px!important;font-size:24px!important}}.wall-item .wall-bottom .item-content .catItemIntroText, .wall-item .wall-bottom .item-content
.catItemDateCreated{color:#ddd;font-family:Arial}.wall-item .wall-bottom .item-content
.catItemIntroText{font-size:14px}.wall-item .wall-bottom .item-content
.catItemLinks{border:none}.wall-item .wall-bottom .item-content .jux-readmore
a{border-width:0;padding:0;color:#fff;background-color:#ff5200;vertical-align:middle;display:inline-block;text-align:center;font-size:14px;white-space:nowrap;margin:15px
0 10px 0;padding:7px
20px;background-image:none}.news-wall-loadmore{visibility:hidden}.item-content{border-left:1px solid #777;border-right:1px solid #777;border-bottom:1px solid #777}.wall-item .wall-bottom .item-content
.catItemTitle{line-height:36px!important;font-size:30px!important;text-transform:none!important;font-weight:normal}@media (max-width: 991px){.wall-item .wall-bottom .item-content
.catItemTitle{line-height:34.2857143px!important;font-size:24px!important}}.wall-item .wall-bottom .item-content .catItemIntroText, .wall-item .wall-bottom .item-content
.catItemDateCreated{color:#ddd;font-family:Arial}.wall-item .wall-bottom .item-content
.catItemIntroText{font-size:14px}.wall-item .wall-bottom .item-content
.catItemLinks{border:none}.wall-item .wall-bottom .item-content .jux-readmore
a{border-width:0;padding:0;color:#fff;background-color:#ff5200;vertical-align:middle;display:inline-block;text-align:center;font-size:14px;white-space:nowrap;margin:15px
0 10px 0;padding:7px
20px;background-image:none}