.news-wall-filters #filter li.next {
  margin-left: 6px;
  display: inline-block;
  list-style-type: none;
}
.news-wall-filters #filter li a {
  background: #333333;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  display: block;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  height: 29px;
  line-height: 29px;
  padding: 0 10px;
  text-decoration: none;
  -moz-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -ms-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -o-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -webkit-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
}
.news-wall-filters #filter li a.active {
  background: #ffffff;
  color: #000000;
}
.news-wall-filters #filter li a:hover {
  background: #666666;
  color: #ffffff;
  -moz-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -ms-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -o-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  -webkit-transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
  transition: color 0.08s ease-in-out, background-color 0.08s ease-in-out, border-color 0.08s ease-in-out;
}
.wall-item {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.wall-item .wall-top .wall-image {
  max-width: 100%;
}
.wall-item .wall-top .wall-video {
  margin-bottom: -5px;
}
.wall-item .wall-top .wall-video iframe {
  max-width: 100%;
}
.wall-item .wall-bottom .item-content {
  padding: 20px;
  position: relative;
  margin: 0px 0 !important;
}
.wall-item .wall-bottom .item-content:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid;
  position: absolute;
  top: -11px;
  left: 20px;
}
.wall-item .wall-bottom .item-content .catItemTitle {
  margin: 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}
.wall-item .wall-bottom .item-content .catItemDateCreated {
  font-family: "Geogria";
  text-transform: none;
  font-size: 12px;
  color: #7c7c7c;
  font-style: italic;
  font-weight: normal;
  padding: 10px 0;
  margin: 0;
}
.wall-item .wall-bottom .item-content .catItemIntroText {
  padding-bottom: 10px;
  font-size: 13px;
  color: #666;
}
.wall-item .wall-bottom .item-content .jux-readmore {
  padding-bottom: 2px;
}
.wall-item .wall-bottom .item-content .jux-readmore a {
  background: #333333;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
}
.wall-item .wall-bottom .item-content .jux-readmore a:hover {
  background: #666666;
}
.wall-item .wall-bottom .item-content .catItemLinks {
  border-top: 1px solid #7c7c7c;
  margin: 0;
}
.wall-item .wall-bottom .item-content .catItemLinks .catItemTagsBlock {
  padding: 10px 0 0 0;
  border-bottom: none;
}
.filter-gray img {
  background: #131313;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
.news-wall-loadmore {
  text-align: center;
}
.news-wall-loadmore .btn-loadmore {
  border: none;
  margin-top: 10px;
  background: #333333;
  padding: 10px 40px;
}
.news-wall-loadmore .btn-loadmore:hover {
  background: #666666;
}
.news-wall-loadmore .btn-loadmore:active {
  border: none;
}
.news-wall-loadmore span.btn-loadmore {
  color: #ffffff;
}
.items-isotope-loading {
  height: 50px;
  width: 200px;
  margin: 0 auto;
}
.items-isotope-loading .loading_spinner_wrapper {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  position: relative;
}
.items-isotope-loading .loading_spinner_wrapper .cube1,
.items-isotope-loading .loading_spinner_wrapper .cube2,
.items-isotope-loading .loading_spinner_wrapper .cube3,
.items-isotope-loading .loading_spinner_wrapper .cube4,
.items-isotope-loading .loading_spinner_wrapper .cube5 {
  background: #666666;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-animation: cubemove 2s infinite ease-in-out;
  animation: cubemove 2s infinite ease-in-out;
}
.items-isotope-loading .loading_spinner_wrapper .cube2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.items-isotope-loading .loading_spinner_wrapper .cube3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.items-isotope-loading .loading_spinner_wrapper .cube4 {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}
.items-isotope-loading .loading_spinner_wrapper .cube5 {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
@-webkit-keyframes cubemove {
  0% {
    -webkit-transform: translateX(-120px);
  }
  50% {
    -webkit-transform: translateX(0px) rotate(180deg) scale(2.2);
    background: #666666 ;
  }
  100% {
    -webkit-transform: translateX(120px);
  }
}
@keyframes cubemove {
  0% {
    -webkit-transform: translateX(-120px);
    transform: translateX(-120px);
  }
  50% {
    -webkit-transform: translateX(0px) rotate(180deg) scale(2.2);
    transform: translateX(0px) rotate(180deg) scale(2.2);
    background: #666666 ;
  }
  100% {
    -webkit-transform: translateX(120px);
    transform: translateX(120px);
  }
}
#quicksearch{
  height: auto;
  margin: 0;
}